[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cx-freeze = "*"
pynput = "*"
openpyxl = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
